@{
    ViewBag.Title = "Contactanos";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Nuestra direccion<br />
    Calle, Colonia 98052-6399<br />
    <abbr title="Telefono">P:</abbr>
    999.999.9999
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Soporte@sosar.com">Soporte@sosar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sosar.com">Marketing@sosar.com</a>
</address>